.glass {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.innerBody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.middleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}

.hideRow {
  opacity: 0;
}

.innerBody {
  height: 10vw;
  width: 10vw;
  color: #ffffffcc;
}

.innerBody span {
  font-size: 5em;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .innerBody {
    height: 25vw;
    width: 25vw;
  }

  .innerBody span {
    font-size: 3em;
  }

  .middleRow {
    width: 80%;
  }
}
