.pageContainer {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/images/scenery1.jpg);
  z-index: -1;
  object-fit: cover;
  background-size: cover;
}
.backdrop.blurr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  filter: blur(15px);
  animation: blur-bg 2s forwards;
}

@keyframes blur-bg {
  0% {
    height: 100%;
    width: 100%;
    filter: blur(0px);
  }
  100% {
    height: 110%;
    width: 110%;
    filter: blur(8px);
  }
}
