.container {
  position: relative;
  width: 100%;
  height: 80vh;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.main-card {
  background-color: #fff;
  width: 700px;
  height: 100%;
  border-radius: 25px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /* overflow: hidden; */
}

.top {
  width: 100%;
  height: 16vh;
  position: absolute;
  display: flex;
  justify-content: center;
}
.top-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 100%;
}
.bottom {
}

.leaf {
  display: block;
  position: absolute;
  top: 0;
  width: 25vw;
  height: 20vh;
  z-index: 0;
  background-size: cover;
}

.left.leaf {
  background-image: url("../../assets/images/topFern.png");
  transform: rotate(-25deg);
  left: -200px;
}

.right.leaf {
  background-image: url("../../assets/images/topFern.png");
  transform: rotate(25deg) scaleX(-1);
  right: -200px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .main-card {
    width: 90vw;
  }
}
