.App {
  background-color: #fafafa;
  width: 100%;
  height: 300vh;
  position: relative;
}

.loading {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fafafa;
  z-index: 99;
  animation: hide-loader 1s forwards;
  animation-delay: 2s;
}
.loading span {
  position: fixed;
  color: #333;
  font-size: 4em;
  width: 100%;
  top: 40%;
  text-align: center;
}

@keyframes hide-loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* .fern {
  display: block;
  position: absolute;
  bottom: 0;
  width: 40vw;
  height: 50vh;
  z-index: 0;
  background-size: cover;
}
.corner-left.fern {
  left: 0;
  background-image: url("./assets/images/cornerFern.png");
  transform: scaleX(-1);
}
.corner-right.fern {
  right: 0;
  background-image: url(./assets/images/cornerFern.png);
} */

/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .fern {
    width: 50vw;
  }
  .corner-left.fern {
    background-position: -50vw 0;
  }
  .corner-right.fern {
    background-position: -50vw 0;
  }
} */

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
